

@import "font.css";
@import "base.css";


@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), url(faune-regular.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(faune-italic.woff2), url(faune-italic.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(faune-bold.woff2), url(faune-bold.woff);
  }

body {

    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    
    font-size: 11px;
    background-color: #000;
    line-height: 1.2;
    background-image: url("back.jpg");
    padding-top: 40px;
    
  }


  h1 {
      font-family:"faune", sans-serif;
      font-style:italic;
      color:#fff;
      font-size:90px;
  }

  p {
    color:#000;
  }


a {
    text-decoration:none;
    cursor:pointer;
}



header {
    text-align: center;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:470px;
}


section nav.website-links {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
   
}

section nav.sm-links {
    
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    width:300px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;

}


section nav.website-links a {
    color:#fff;
    font-size:32px;
    line-height:1.5;
    padding:8px;

}


section nav.sm-links img {
    width:30px;
    margin:10px;
}


footer {
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;

    position:fixed;
    bottom:0;
    width:100%;
    
}

h2 {
    font-size:12px;
}




@media (max-width: 500px){


header {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
    }




    section nav.website-links {
       display:block;
       width:200px;
       text-align:left;
    }

    section nav.website-links a {
        text-align: left;
    
    }

    section nav.sm-links {
    
        display:block;
        margin-top:20px;
      
    }










}



