

@import "font.css";
@import "base.css";


@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), url(faune-regular.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(faune-italic.woff2), url(faune-italic.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(faune-bold.woff2), url(faune-bold.woff);
  }

body {
    position:fixed;
    width:100%;
    text-align:center;
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    background-color:#c0b281ca;
    
    font-size: 11px;
    /* background-color: rgba(110, 110, 59, 0.473); */
  
    line-height: 1.2;

 

    padding-top: 40px;
    margin-bottom:20px;
    
  }


  html {
    background: url("3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



  h1 {
      font-family:"faune", sans-serif;
      font-style:italic;
      color:#365b4e;
      font-size:90px;
  }

  p {
    color:#000;
  }


a {
    text-decoration:none;
    cursor:pointer;
}



header {
    text-align: center;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom:470px; */
}


section {
    background-color:#96a450ca;
}


section nav.website-links {
 
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    z-index:3;
   
}




section nav.website-links a {
    color:rgb(150, 13, 68);
    font-size:32px;
    line-height:1.5;
    padding:8px;
    z-index:3;
    font: weight 200px;;

}


footer .sm-links img {
    width:30px;
    padding-right:10px;
  
    /* margin:10px; */
    
}

footer div.sm-links {
    padding-left:30px;
}

footer div {
    padding-right:30px;
}

footer h1 {
    padding-right:10px;
}

.hothouselink {
    position: fixed;
    left: 50px;
    bottom:50px;
    max-width:30px;
    margin:20px;
  
}

.hothouselink img {
    max-width:100px;
}

.prairielanternlink {
    position: fixed;
    left: 450px;
    bottom:165px;
    max-width:30px;
    margin:20px;
  
}

.prairielanternlink img {
    max-width:100px;
}


footer {
    color: #ffffff;
    background-color: #7e6e3a;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 10px;

    position:fixed;
    bottom:0;
    width:100%;
    
}

h2 {
    font-size:12px;
}



@media(max-width:700px){

    header {
        margin-bottom:300px
    }

    body {
        padding-top:20px;
    }

    .hothouselink {
       
        left: 25px;
        bottom:100px;
        max-width:50%;
        margin:20px;
      
    }

    .prairielanternlink {
        position: fixed;
        left: 391px;
        bottom:365px;
        max-width:20px;
        margin:20px;
      
    }


    .hothouselink {
       
        left: 115px;
        bottom:340px;
        max-width:50%;
        margin:20px;
      
    }
}




@media (max-width: 600px){


header {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    }

    body {
        padding-top:10px;
        position: absolute;
        max-width:500px;
    }


    h1 {
        font-size:42px;
    }


    section nav.website-links {
       display:block;
       width:150px;
       text-align:left;
      
    }

    section nav.website-links a {
        text-align: left;
        font-size:28px;
    
    }

    section nav.sm-links {
    
        display:block;
        margin-top:20px;
      
    }

    .hothouselink {
       
        left: 25px;
        bottom:100px;
        max-width:50%;
        margin:20px;
      
    }



    .prairielanternlink {
        position: fixed;
        left: 180px;
        bottom:180px;
        max-width:20px;
        margin:20px;
      
    }


    .prairielanternlink img {
        max-width:80px;
    }


    footer .sm-links img {
        padding-bottom:5px;
    }










}



