

@import "font.css";
@import "base.css";


@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), url(faune-regular.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(faune-italic.woff2), url(faune-italic.woff);
  }
  
  @font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(faune-bold.woff2), url(faune-bold.woff);
  }

body {

    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    
    font-size: 26px;
    background-color: #000;
    line-height: 1.2;
    background-image: url("back.jpg");
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    
  }

 

  h1 {
      font-family:"faune", sans-serif;
      font-style:italic;
      color:#fff;
      font-size:90px;
  }

  p {
    color:#000;
  }





a {
    text-decoration:none;
    cursor:pointer;
}



header {
    padding:20px
}




nav.website-links {
    width: 600px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    margin-bottom:10px;

    position:fixed;
    bottom:45px;
    z-index:2;

}

nav.website-links a {
    color:#fff;
    font-size:32px;
    line-height:1.5;
    padding:8px;
}



nav.sm-links {
    position:fixed;
    bottom:10px;
    padding:20px;
    z-index:0;

}

nav.sm-links img {
    width:30px;
  margin:10px;
}





@media (max-width: 500px){


header {
        padding:5px;
    }

h1 {
        font-size:40px;
        padding:20px;
    }


  header nav {
    width: 250px;
}


body {
    font-size: 18px;
}

nav.website-links a {
    font-size: 26px;
}


nav.website-links{
    display: inline-block;
   width: 300px;
  
}



nav.links {
    padding:10px;
 
    
}

.links img {
    width:25px;
    margin:10px;
}

nav.links img {
    width:30px;
    margin:10px;
}


}



