body {

    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    
    font-size: 16px;
    background-color: #fff;
    line-height: 1.2;
  }


h1 {
    text-decoration:none;
    color:#000;
    font-size:32px;
    padding-bottom:5px;
    /* border-bottom: 1px #fff; */
    
    
}

p {
  text-decoration:none;
  color:#000;
  font-size:24px;

}

a {
  text-decoration: none;
  color:#66836c;
}


section {
  display:grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  overflow: hidden;
  
  margin-bottom:-10px;
   
}

.section2 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  overflow: hidden;
  
}

.item-a {

  display: flex;
  flex-direction:column;
  justify-content: center;

  padding:10px; 
  border-right: 2px solid #66836c;
}

div.item-a h1 {
  border-bottom: 2px solid #66836c;
}

section div.item-b {
  margin-top:50px;
  align-items: center;
}


div.hothouse1 img {
  max-width:700px;
  align-items:center;
}

div.hothouse2 img {
  max-width:700px;
 
}

.item-b {
  display: flex;
  flex-direction:column;
  padding:10px;

  background-color:#fff;
  border-bottom: 2px solid #66836c;
}

.item-b p {
  font-size:12px;
  margin-top: 5px;
}


/* second section */



.item-c {
  display: flex;
  flex-direction:column;
  padding:5px 10px 10px 10px;

  border-top: 2px solid #f7904c; 
  border-right: 2px solid #f7904c;
  background-color:#fff;
}


.section2 div.videoframe:first-child {
  padding-top:100px;
}

.section2 div.item-c {
  align-items:center;
}

.section2 div.item-d {
  padding-top:10px;
}

.item-d h1 {
  border-bottom: 2px solid #f7904c;

}


.item-d {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  padding:50px 10px 10px 10px;


}

footer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}

footer a  img{
  padding:30px;
  height:50px;
}


@media (max-width:800px){

  .container {
    display:block;

    overflow: hidden;
    
  }

}