body {

    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    
    font-size: 16px;
    background-color: #cca8667c;
    line-height: 1.2;
  }


h1 {
    text-decoration:none;
    color:#000;
    font-size:14px;
    padding-bottom:5px;
    /* border-bottom: 1px #fff; */    
    
}

p {
  text-decoration:none;
  color:#000;
  font-size:24px;

}

a {
  text-decoration: none;
  color:#ecc518;
}


section.video {
  width:800px;
  margin-right:auto;
  margin-left:auto;
  background-color: #dfbe2b8e;
  /* border: 10px solid #66836c; */
  padding:20px;
  text-align:center;
}
  
 
   
}

div.videos {
  text-align: center;
}

footer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}

footer a  img{
  padding:30px;
  height:50px;
}


@media (max-width:800px){

  .container {
    display:block;

    overflow: hidden;
    
  }

}